// Animations

//projects modal

// Animation pour ouverture avec effet de spring
.modal-initial-open {
  animation: modalOpenAndSpring .4s ease-out forwards;
}

@keyframes modalOpenAndSpring {
  0% {
    opacity: 0;
    transform: scale(0.5) scaleX(0.1) translate(0%, 0%);
  }
  20% {
    opacity: 1;
    transform: scale(1.0) scaleX(0.5); 
  }
  70% {
    opacity: 1;
    transform: scale(1.0) scaleX(1); 
  }
  50% {
    opacity: 1;
    transform: scaleY(1.05);
  }
  60% {
    transform: scaleY(1);
  }
  80% {
    transform: scaleY(1.02);
  }
  100% {
    transform: scale(1);
  }
}

// Animation pour fermeture
.modal-close {
  animation: modalClose 0.4s ease-in forwards;
}

@keyframes modalClose {
  10% {
    opacity: 1;
    transform:translateY(0px) scale(1);
  }
  60% {
    opacity: 1;
    transform: scale(.5) ;
  }
  80% {
    opacity: 1;
    transform: scale(.5) scaleX(0.5);
  }
  100% {
    opacity: 0;
    transform:translateY(600px) scale(0.5) scaleX(0.2) ;
  }
}

// Animation pour swipe vers la gauche
.modal-swipe-out-left {
  animation: swipeOutLeft 0.4s ease-in forwards;
}

@keyframes swipeOutLeft {
  0% {
    transform: translateX(0) scale(1);
  }
  20% {
    transform:  scale(0.7) ;
    opacity: 1;
  }
  30% {
    transform: scale(0.3) ;
    opacity: 1;
  }
  40% {
    transform: scale(0.2) scaleX(2)  ;
    opacity: 1;
  }
  50% {
    transform: scale(0.1) scaleX(4)  ;
    opacity: 1;
  }
  80% {
    transform: translateX(-100%) scale(0.05) rotate(0.5turn);
    opacity: 0;
  }
      100% {
      transform: translateX(0%) scale(0.05) rotate(0turn);
      opacity: 0;
  }
}

// Animation pour swipe vers la droite
.modal-swipe-out-right {
  animation: swipeOutRight 0.4s ease-in forwards;
}

@keyframes swipeOutRight {
    0% {
      transform: translateX(0) scale(1);
    }
    20% {
      transform:  scale(0.7) ;
      opacity: 1;
    }
    30% {
      transform: scale(0.3) ;
      opacity: 1;
    }
    40% {
      transform: scale(0.2) scaleX(2)  ;
      opacity: 1;
    }
    50% {
      transform: scale(0.1) scaleX(4)  ;
      opacity: 1;
    }
    80% {
      transform: translateX(100%) scale(0.05) rotate(-0.5turn);
      opacity: 0;
    }
    100% {
      transform: translateX(0%) scale(0.05) rotate(0turn);
      opacity: 0;
  }
}

// Animation pour swipe in depuis la gauche
.modal-swipe-in-left {
  animation: swipeInLeft .3s ease-out ;
  -webkit-transform: swipeInLeft .3s ease-out ;
  -moz-transform: swipeInLeft .3s ease-out ;
  -ms-transform: swipeInLeft .3s ease-out ;
  -o-transform: swipeInLeft .3s ease-out ;
}

@keyframes swipeInLeft {
  0% {
    transform: translateX(-100%) skew(0deg, 0deg)  scale(1);
    -webkit-transform:translateX(-100%) skew(0deg, 0deg)  scale(1);
    -moz-transform:translateX(-100%) skew(0deg, 0deg)  scale(1);
    -ms-transform:translateX(-100%) skew(0deg, 0deg)  scale(1);
    -o-transform:translateX(-100%) skew(0deg, 0deg)  scale(1);
    opacity: 0;
  }
  60% {
    transform: translateX(0) skew(5deg, 0deg) scale(1);
    -webkit-transform:translateX(0) skew(5deg, 0deg) scale(1);
    -moz-transform:translateX(0) skew(5deg, 0deg) scale(1);
    -ms-transform:translateX(0) skew(5deg, 0deg) scale(1);
    -o-transform:translateX(0) skew(5deg, 0deg) scale(1);
    opacity: 1;
  }
  80% {
    transform:  skew(-2deg, 0deg) scale(1);
    -webkit-transform:skew(-2deg, 0deg) scale(1);
    -moz-transform:skew(-2deg, 0deg) scale(1);
    -ms-transform:skew(-2deg, 0deg) scale(1);
    -o-transform:skew(-2deg, 0deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(0) skew(0deg, 0deg) scale(1);
    -webkit-transform:translateX(0) skew(0deg, 0deg) scale(1);
    -moz-transform:translateX(0) skew(0deg, 0deg) scale(1);
    -ms-transform:translateX(0) skew(0deg, 0deg) scale(1);
    -o-transform:translateX(0) skew(0deg, 0deg) scale(1);
    opacity: 1;
  }
}

// Animation pour swipe in depuis la droite
.modal-swipe-in-right {
  animation: swipeInRight 0.3s ease-out forwards;
  -webkit-transform: swipeInRight .3s ease-out ;
  -moz-transform: swipeInRight .3s ease-out ;
  -ms-transform: swipeInRight .3s ease-out ;
  -o-transform: swipeInRight .3s ease-out ;
}

@keyframes swipeInRight {
  0% {
    transform: translateX(100%) skew(0deg, 0deg) scale(1);
    -webkit-transform:translateX(100%) skew(0deg, 0deg) scale(1);
    -moz-transform:translateX(100%) skew(0deg, 0deg) scale(1);
    -ms-transform:translateX(100%) skew(0deg, 0deg) scale(1);
    -o-transform:translateX(100%) skew(0deg, 0deg) scale(1);
    opacity: 0;
  }
  60% {
    transform: translateX(0) skew(-5deg, 0deg) scale(1);
    -webkit-transform:translateX(0) skew(-5deg, 0deg) scale(1);
    -moz-transform:translateX(0) skew(-5deg, 0deg) scale(1);
    -ms-transform:translateX(0) skew(-5deg, 0deg) scale(1);
    -o-transform:translateX(0) skew(-5deg, 0deg) scale(1);
    opacity: 1;
  }
  80% {
    transform:  skew(2deg, 0deg) scale(1);
    -webkit-transform:skew(2deg, 0deg) scale(1);
    -moz-transform:skew(2deg, 0deg) scale(1);
    -ms-transform:skew(2deg, 0deg) scale(1);
    -o-transform:skew(2deg, 0deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(0) skew(0deg, 0deg) scale(1);
    -webkit-transform:translateX(0) skew(0deg, 0deg) scale(1);
    -moz-transform:translateX(0) skew(0deg, 0deg) scale(1);
    -ms-transform:translateX(0) skew(0deg, 0deg) scale(1);
    -o-transform:translateX(0) skew(0deg, 0deg) scale(1);
    opacity: 1;
  }
}

@keyframes modal-shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.modal-shake {
  animation: modal-shake 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon_swipe {
  animation: swipeAttention 4s steps(1) infinite;
}

@keyframes swipeAttention {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

//animations Home lumiere desktop
@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

