$colors: (
  "background": #fbfdff,
  "bgBody": #fbfdff,
  "foreground": #d2dde8,
  "mainTextColor": #000000,
  "ideesPtext": #3a4c5e,
  "ideaActiveText": #40536a,
  "ideaHoverText": #f8f2e1,
  "bgBtnHoverProject": #93e2fa,
  "h2Color": #677684,
  "bgBtnModal": #292f35,
  "bgBtnSeeProject": #7ab3eb,
  "bgModal": #f5f9fc,
  "h1Icons": #194967,
  "textColor": #163f59,
  "datesColor": #95a5af,
  "bgDetailsModal": #d2dde8,
  "linkColor": #d2dde8,
  "btnBlank": #c9d5e1,
  "btnBlankEnd": #ebf1f6,
  "postItPink": #ffa9d0,
  "postItYellow": #ffffb2,
  "postItBlue": #c5feff,
  "postItGreen": #c8f06e,
  "postItOrange": #ffc551,
  "errors": #ff000082,
  "boxShadow": rgba(0, 0, 0, 0.3),
  "gradientStart": #c9d5e1,
  "gradientEnd": white,
  "bgH1Desktop": #a3dafe,
  "bgCvDesktop": #c1e3fa,
  "bgProjectsDesktop": #def0fd,
  "bgIdeesDesktop": #ebf6fd,
  "h1Desktop": #fbfdff,
  "desktopPcolor": #5c5a4e,
  "desktopBtnCloseColor": #ffffff,
  "desktopBtnCloseBg": #ff8282,
  "ideasDdown": #ffffff,
  "bgBtnIdeesProject": #4d687b,
);

$light-colors: $colors;

$dark-colors: (
  "background": #121212,
  "bgBody": #191614,
  "foreground": #1e1e1e,
  "mainTextColor": #ffffff,
  "ideesPtext": #7996b1,
  "ideaActiveText": #cfe0f4,
  "ideaHoverText": #f8f2e1,
  "h2Color": #c9c7c7,
  "bgBtnModal": #3a3a3a,
  "bgBtnSeeProject": #782d0a,
  "bgBtnHoverProject": #b6b397,
  "bgModal": #1e1e1e,
  "h1Icons": #ffffff,
  "textColor": #e0e0e0,
  "datesColor": #aaaaaa,
  "bgDetailsModal": #2a2a2a,
  "linkColor": #4a90e2,
  "btnBlank": #3a3a3a,
  "btnBlankEnd": #2a2a2a,
  "postItPink": #282123,
  "postItYellow": #3f3f3f,
  "postItBlue": #2b2f32,
  "postItGreen": #2d342e,
  "postItOrange": #332d28,
  "errors": #5a2222,
  "boxShadow": rgba(255, 255, 255, 0.2),
  "gradientStart": #2c3e50,
  "gradientEnd": rgba(44, 62, 80, 0.8),
  "bgH1Desktop": #2b3a42,
  "bgCvDesktop": #606a70,
  "bgProjectsDesktop": #7a8792,
  "bgIdeesDesktop": #8a9ca8,
  "h1Desktop": #7b99b7,
  "desktopPcolor": #898673,
  "desktopBtnCloseColor": #5a5850,
  "bgBtnIdeesProject": #c3d2dd,
);

@mixin set-theme($theme-colors) {
  @each $name, $color in $theme-colors {
    --#{$name}: #{$color};
  }
}
